*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
    font-family: Arial, sans-serif;
    background-color: hsl(222, 26%, 31%);
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    margin: 0;
}
.title{
    display: flex;
    justify-content: space-between;
    margin: 4px;
}
.title h5{
    font-size: 18px;
    color: white;
}

.icon{
    display: flex;
}

.icon p{
    margin-top: 4px;
    color: white;
    font-size: 11px;
     /* margin-right: ; */
}

.toggle{
    color: white;
    padding: 0px;
}

.right {
    display: flex;
    padding-right: px;
}

.right p{
    padding: 5px;
    font-size: 12px;
}

.box{
    height: 14px;
    width: 48px;
    border-radius: 5px;
    background-color: hsla(223, 31%, 20%, 0.377);
    padding-left: 3px;
    padding-right: 3px;
}

#circle{
    height: 13px;
    width: 12px;
    border-radius: 5px;
    background-color: red;
}
.container{
    margin-top: 7rem;
    display: grid;
    padding: 10px;
    background-color: hsl(222, 26%, 31%);
    grid: auto 80px;
    grid-gap: 15px;
    justify-content: center;
}
.section{
    text-align: center;
    width: 20rem;
    background-color:beige;
    border-radius: 4px;
}
.section-1{
    height: 5.1rem;
}
.section-1 input{
    height: 5.1rem;
    width: 20rem;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 30px;
    background-color: hsl(223, 31%, 20%);
    padding: 18px;
    text-align: end;
}
.section-2{
    height: 17rem;
    background-color:  hsl(224, 29%, 27%);
    padding-top: 11px;
}
.row{
    margin-top: 5px;
}
.row button{
    width: 60px;
    margin: 4px;
    padding: 7px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
}
.row-2 button{
    width: 8.2rem;
}
#delete,#reset{
    background-color: hsl(225, 21%, 49%);
    color: white;
}
#answer{
    background-color: hsl(6, 63%, 50%);
    color: white;
}


.one {
    cursor: pointer;
  }
  
  .selected {
    color: white;
    background-color: #fafafa00; /* Set your desired color */
  }
  







